<div class="face">
  <img src="{{feed.profile_picture}}" kalt = "" />
</div>

<div class="content">
  <p class="name">Name: </p>
  <textarea class="nameBox">{{feed.full_name}}</textarea>
  <p class="user">User: </p>
  <textarea class="userBox">{{feed.username}}</textarea>
  <p class="url">Url: </p>
  <textarea class="urlBox">{{feed.website}}</textarea>
  <p class="bio">Bio: </p>
  <textarea class="bioBox">{{feed.bio}}</textarea>
  <p class ="button"><input class="saveButton" type="submit" value="Save Changes"></p>

</div>
