<link rel = "stylesheet" href = "\CSS\image.css">

<div class="saved">
  <h1>Saved Searches</h1>

  <ul class="searches">
    {{#each profile.savedSearches}}
      <div class="row">
        <form action="/search/delete" method="post">
          <li><a href='#'>{{this}}</a></li>
          <input class="button" type="submit" name="submit" value="X">
        </form>
      </div>
    {{/each}}
  </ul>

<!--
  <form class="user-form" action="/search/add" method="post">
    <input type="hidden" name="_id" value="{{user._id}}">
  </form> -->

  <!-- {{#if user.tags}}
    {{#each user.tags}}
      <form action="/search/remove" method="post">
        {{this}}
        <input type="hidden" name="tag" value="{{this}}">
        <button type="submit">Delete</button>
      </form>
    {{/each}}
  {{/if}} -->

</div>

<div class="search">
  <form action="" method="post">
    <input class="SearchBox" type="text" name="query" placeholder="Search..." required>
    <input class="button" type="submit" name="submit" value="Search">
  </form>

  <!-- this will be a form to submit to the save search route -->
<!--
  {{#if feed}}
    <form class="" action="/user/search/save" method="post">
      <button class="button" type="submit" name="">Save</button>
    </form>
  {{/if}}-->
</div>

<div class="border"> </div>

{{! post to save the search }}

<form action="/user/search/save" method="post">
  <div class="Results">
    {{#if tag }}
      <h2>Results for: {{tag}}</h2>
      <input type="hidden" value="{{tag}}" name="tag">
      <input class="button" type="submit" name="save" value="Save">
    {{/if}}
  </div>
</form>


{{> images }}
